---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import LessonLayout from '../../../layouts/LessonLayout.astro'

export async function getStaticPaths() {
  const entries: Array<CollectionEntry<'lessons'>> =
    await getCollection('lessons')
  return entries
    .filter(
      (entry) => Boolean(entry.data.unit) && entry.slug.split('/').length === 3,
    )
    .map((entry) => {
      const parts = entry.slug.split('/')
      return {
        params: { subject: parts[0], unit: parts[1], lesson: parts[2] },
        props: { entry },
      }
    })
}

interface Props {
  entry: CollectionEntry<'lessons'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<LessonLayout entry={entry}>
  <p slot="hook">{entry.data.hook}</p>
  <p slot="analogy">{entry.data.analogy}</p>
  <Fragment slot="explanation">
    <Content />
  </Fragment>
  <p slot="summary">{entry.data.summary}</p>
</LessonLayout>
